
#Files
*.orig
*.scc
*.doc
*.docx
*.log
*.dep
*.bak
*.txt
*.old
*.bin
*.out
*.scvd
*.map
*.tree
*.ewt
*.uvgui.*
*.uvguix.*
*.hex
*.otp
.vs/
!CMakeLists.txt
!README.txt
!readme.txt
# Folders
Obj/
settings/
.settings/
lst/
obj/
Listings/
Objects/
Output/
Release/
out/
build/
build_*/

